.Auth-container{
    background-image: url(assets/images/auth.jpeg);
    background-size: cover;
    background-position:center center;
}

.bg-overlay{
    background: linear-gradient(51.22deg, rgba(55, 140, 47, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%);
}
.home-container{
background-color: rgba(240, 255, 239, 1);
}
.text-header{
    color:rgba(223, 224, 224, 1);
}
.header-content{
background-image: url(assets/images/bg-header.png);
background-size: cover;
background-position:center center;
}
.position-absolute{
    top: 28%;
    left: 1%;
}

.bgMain{
    background-color: rgba(247, 247, 247, 1) !important;
}


.sidebar-container .ps-sidebar-container{
    background-color: #1f263E;
    color: #fff;
    border-top-right-radius:50px;
}
.side{
    border-top-right-radius:60px;
}
.sidebar-container .ps-sidebar-root{
border: none;
height: 100vh;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover{
    background-color: #009247;
}
.side-bg{
    background-color: #1f263E;
}
.pag{
  cursor: pointer !important;
}
 .page-link{
  background-color: #a7f6cd !important;
 }

.active>.page-link{
  background-color: #009247 !important;  
  border-color: #009247 !important;
}
.bg-nav{
  background-color: #a7f6cd;
  
}
input:focus{
    box-shadow: none !important;
    background-color: rgba(247, 247, 247, 1) !important;
}


.img-container{
    width: 50px;
}
textarea {
    resize: none !important;
  }

  .del:hover {
    color: #F44336;
    transform: rotate(50deg);
    cursor: pointer;
  }
  
  .edit,.eye:hover {
    color: #07f542;
    transform: rotate(-50deg);
    cursor: pointer;
  }
  
  .edit,.del {
    transition: all 0.3s;
  }

  .nofound{
    background-image: url(assets/images/Not-Found.png);
    background-size: cover;
    background-position:center center;
  }
  
  
  .loader{
    display: inline-block;
    text-align: center;
    line-height: 86px;
    text-align: center;
    position: relative;
    padding: 0 48px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color:#009247;
    }
    .loader:before, .loader:after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: currentColor;
      position: absolute;
      animation: load .7s infinite alternate ease-in-out;
      top: 0;
    }
    .loader:after {
      top: auto;
      bottom: 0;
    }
  @keyframes load {
    0% {
      left: 0;
      height: 43px;
      width: 15px;
      transform: translateX(0)
    }
    50% {
      height: 10px;
      width: 40px
    }
    100% {
      left: 100%;
      height: 43px;
      width: 15px;
      transform: translateX(-100%)
    }
  }
.img-height{
  height: 200px;
}
  @media only screen and (max-width: 600px) {
    .tble-res{
      width: 90% !important;
    }
   body{
    overflow-x: hidden;
   }
   .responsiv{
    width: 85% !important;
  }
  }

  @media only screen and (max-width: 800px) {
    .tble-res{
      width: 90% !important;
    }
   body{
    overflow-x: hidden;
   }
    .responsiv{
      width: 85% !important;
    }
  }